@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1472177348'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1472177348#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1472177348') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1472177348') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1472177348#iconfont') format('svg'); /* iOS 4.1- */
}

/* line 1, ../scss/base.scss */

.header .top_nav {
    font-size: 12px;
    color: #333;
    height: 30px;
    line-height: 30px;
    background-color: #ccc;
}


/* line 8, ../scss/base.scss */

.header .top_nav .left {
    float: left;
}


/* line 11, ../scss/base.scss */

.header .top_nav .left > div {
    float: left;
}


/* line 14, ../scss/base.scss */

.header .top_nav .left .pic {
    position: relative;
    height: 30px;
    margin-right: 5px;
}


/* line 19, ../scss/base.scss */

.header .top_nav .left img {
    top: 50%;
    margin-top: -7px;
    display: block;
    position: relative;
}


/* line 25, ../scss/base.scss */

.header .top_nav .right {
    float: right;
}


/* line 28, ../scss/base.scss */

.header .top_nav .login a {
    color: #43aebe;
    margin-left: 33px;
}


/* line 32, ../scss/base.scss */

.header .top_nav .register a {
    color: #333;
    margin-left: 17px;
}


/* line 36, ../scss/base.scss */

.header .top_nav .right li {
    float: left;
    margin-left: 16px;
}

.header .top_nav .right li > dl {
    display: none;
    position: relative;
    z-index: 2;
    background-color: #eee;
    text-align: center;
}

.header .top_nav .right li:hover > dl {
    display: block;
}



/* line 40, ../scss/base.scss */

.header .top_nav .right li:first-child {
    margin: 0 16px;
}


/* line 43, ../scss/base.scss */

.header .top_nav .right a {
    color: #333;
}


/*
 * logo与搜索框部分
 */


/* line 52, ../scss/base.scss */

.header .top_content {
    height: 120px;
}


/* line 55, ../scss/base.scss */

.header .top_content .container {
    position: relative;
}


/* line 58, ../scss/base.scss */

.header .top_content .left {
    position: absolute;
    left: 0;
    top: 0;
    height: 120px;
}


/* line 64, ../scss/base.scss */

.header .top_content .logo {
    height: 120px;
    display: table-cell;
    vertical-align: middle;
}


/* line 69, ../scss/base.scss */

.header .top_content .logo a {
    display: block;
}


/* line 72, ../scss/base.scss */

.header .top_content .left img {
    max-height: 120px;
    display: block;
}


/* line 76, ../scss/base.scss */

.header .top_content .right {
    position: absolute;
    right: 0;
    top: 0;
    padding: 41px 0;
}


/* line 82, ../scss/base.scss */

.header .top_content .right .cart {
    height: 38px;
    width: 108px;
    border: 1px solid #e5e5e5;
    background: #eee;
    text-align: center;
    padding: 0 20px;
    position: relative;
}


/* line 91, ../scss/base.scss */

.header .top_content .cart > * {
    float: left;
    line-height: 38px;
}


/* line 95, ../scss/base.scss */

.header .top_content .right .pic {
    margin-right: 19px;
}


/* line 98, ../scss/base.scss */

.header .top_content .right .pic img {
    vertical-align: middle;
}


/* line 101, ../scss/base.scss */

.header .top_content .right .text a {
    color: #666;
    font-size: 12px;
}


/* line 105, ../scss/base.scss */

.header .top_content .bubble {
    background: url(../images/common/bubble_icon.png) center bottom no-repeat;
    position: absolute;
    right: 20px;
    top: -10px;
    height: 30px;
    width: 20px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
}

/* line 118, ../scss/base.scss */

.header .top_content .center {
    width: 580px;
    padding-top: 37px;
    padding-bottom: 22px;
    margin: 0 auto;
}


/* line 124, ../scss/base.scss */

.header .top_content .search {
    overflow: hidden;
}


/* line 127, ../scss/base.scss */

.header .top_content .search > input {
    display: block;
    float: left;
}


/* line 131, ../scss/base.scss */

.header .top_content .search > input[type=text] {
    border: 2px solid #43aebe;
    height: 36px;
    width: 488px;
    line-height: 36px;
    padding-left: 8px;
}


/* line 138, ../scss/base.scss */

.header .top_content .search > input[type=button] {
    width: 80px;
    height: 40px;
    line-height: 40px;
    background: #43aebe;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
}


/* line 148, ../scss/base.scss */

.header .top_content .list {
    overflow: hidden;
}


/* line 151, ../scss/base.scss */

.header .top_content .list li {
    float: left;
    margin-right: 20px;
}


/* line 155, ../scss/base.scss */

.header .top_content .list li a {
    color: #666;
    font-size: 12px;
    font-family: "宋体";
}


/*
 * 导航栏
 */


/* line 165, ../scss/base.scss */

.navBar {
    height: 30px;
    background-color: #1b3e51;
}


/* line 169, ../scss/base.scss */

.navBar > .container > * {
    float: left;
    height: 30px;
}


/* line 173, ../scss/base.scss */

.navBar > .container > .left {
    width: 126px;
    position: relative;
}


/* line 177, ../scss/base.scss */

.navBar > .container > .left ul {
    background-color: #1e7987;
    position: absolute;
    width: 100%;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    z-index: 1;
    display: none;
}


/* line 187, ../scss/base.scss */

.navBar > .container > .left h1 {
    font-size: 14px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background-color: #1e7987;
    line-height: 30px;
    color: #fff;
}


/* line 196, ../scss/base.scss */

.navBar > .container > .left h1 img {
    margin-left: 4px;
}


/* line 199, ../scss/base.scss */

.navBar > .container > .left li {
    height: 30px;
}


/* line 202, ../scss/base.scss */

.navBar > .container > .left li a {
    display: block;
    padding-left: 23px;
}


/* line 206, ../scss/base.scss */

.navBar > .container > .left li a:hover {
    text-decoration: none;
    background-color: #43aebe;
}


/* line 210, ../scss/base.scss */

.navBar > .container > .right li {
    width: 136px;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}


/* line 219, ../scss/base.scss */

.navBar > .container > .right li:first-child {
    margin-left: 40px;
}


/* line 222, ../scss/base.scss */

.navBar > .container > .right li a {
    display: block;
}


/* line 225, ../scss/base.scss */

.navBar > .container > .right li a:hover {
    text-decoration: none;
    background-color: #1e7987;
}


/*
 * banner
 */


/* line 235, ../scss/base.scss */

.banner {
    width: 100%;
    overflow: hidden;
}


/* line 239, ../scss/base.scss */

.banner img {
    display: block;
    max-width: 100%;
}


/* line 243, ../scss/base.scss */

.banner .carousel {
    width: 1920px;
    position: relative;
    margin-left: -960px;
    left: 50%;
}


/* line 249, ../scss/base.scss */

.banner .carousel ul {
    width: 300%;
    position: relative;
}


/* line 253, ../scss/base.scss */

.banner .carousel li {
    width: 33.333333%;
    float: left;
}


/*
 * 尾部
 */


/* line 261, ../scss/base.scss */

.footer .top {
    background-color: #dcdcdc;
}


/* line 264, ../scss/base.scss */

.footer .top ul {
    margin-right: -58px;
    overflow: hidden;
}


/* line 268, ../scss/base.scss */

.footer .top li {
    width: 25%;
    height: 100px;
    float: left;
    color: #333;
    font-size: 18px;
    line-height: 100px;
    font-weight: bold;
}


/* line 277, ../scss/base.scss */

.footer .top li img {
    vertical-align: middle;
    max-height: 100px;
    margin-right: 16px;
}


/* line 282, ../scss/base.scss */

.footer .content {
    padding-top: 110px;
    background-color: #eee;
}


/* line 286, ../scss/base.scss */

.footer .content ul {
    margin: 0 74px;
    overflow: hidden;
}


/* line 290, ../scss/base.scss */

.footer .content li {
    float: left;
    width: 110px;
    margin: 0 50px;
    text-align: center;
    font-size: 14px;
}


/* line 297, ../scss/base.scss */

.footer .content li h3 {
    color: #333;
    margin-bottom: 18px;
}


/* line 301, ../scss/base.scss */

.footer .content li dd {
    margin-bottom: 16px;
    color: #666;
}


/* line 306, ../scss/base.scss */

.footer .bottom {
    background-color: #eee;
    padding-top: 40px;
}


/* line 310, ../scss/base.scss */

.footer .bottom .flag {
    width: 700px;
    border-top: 2px solid #d8d8d8;
    border-bottom: 2px solid #fdfbfb;
    margin: 0 auto 30px;
}


/* line 316, ../scss/base.scss */

.footer .bottom ul {
    overflow: hidden;
    margin: 0 auto;
    width: 648px;
}


/* line 321, ../scss/base.scss */

.footer .bottom li {
    float: left;
    border-left: 1px solid #333;
    color: #333;
    font-size: 12px;
    font-family: "宋体";
    padding: 0 4px;
    letter-spacing: 1px;
}


/* line 330, ../scss/base.scss */

.footer .bottom li:first-child {
    border-left: none;
}


/* line 333, ../scss/base.scss */

.footer .copyright {
    color: #333;
    font-size: 12px;
    font-family: "宋体";
    letter-spacing: 1px;
    text-align: center;
    padding: 16px 0;
}


/* line 341, ../scss/base.scss */

.division {
    height: 11px;
    background: url(../images/index/icon.jpg) repeat-x;
}


input[type="text"]{
    outline: none;
}