.middle .content{
    padding: 54px 80px;
}
.middle .content .head-nav{
    padding-left: 10px;
    margin-bottom: 40px;
}
.middle .content .box > div{
    border: 1px solid #ccc;
    border-radius: 8px;
}

.middle .content .btn{
    width: 100px;
    height: 25px;
    text-align: center;
    display: inline-block;
    color: #fff;
    font: 14px/25px "微软雅黑";
    background-color: #43aebe;
    margin-left: 80px;
    margin-bottom: 115px;
    border: none;
    cursor: pointer;
}
.middle .content .btn:hover{
    text-decoration: none;
}
.middle .content form > div{
    margin-bottom: 16px;
}
.middle .content form > div input{
    width: 170px;
    height: 23px;
    border: 1px solid #ccc;
    padding-left: 8px;
}
.middle .content form .check{
    width: 80px;
    height: 25px;
    display: inline-block;
    background-color: #ccc;
    line-height: 25px;
    vertical-align: top;
    text-align: center;
    margin-left: 10px;
}
.middle .content .box .tab{
    border: none;
    border-radius: 0;
    padding: 0;
    margin-top: 0;
    width: auto;
}
.middle .content .box .tab + .tab{
    display: none;
}